# PHP
#export PATH=/usr/local/Cellar/php54/5.4.7/bin:$PATH

# Android SDK
export PATH=$PATH:$HOME/Applications/android-sdks/platform-tools

# EC2
export JAVA_HOME=`/usr/libexec/java_home`
export EC2_HOME=/opt/boxen/homebrew/Cellar/ec2-api-tools/1.6.7/jars
export PATH=/opt/boxen/homebrew/Cellar/ec2-api-tools/1.6.7/bin:$PATH

# Phabricator / Arcanist
export PATH=$PATH:$HOME/Applications/phabricator/arcanist/bin

### Heroku Toolbelt
#export PATH="/usr/local/heroku/bin:$PATH"

#typeset -U PATH

# Editor for arcanist
export EDITOR=/usr/bin/vim
