.DS_Store

# Z
.zcompdump*
.zhistory

.netrwhist

# VIM
.vim/bundle

# Atom
atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/projects.cson
