"*":
  "autocomplete-plus": {}
  core: {}
  editor:
    fontFamily: "DejaVu Sans Mono for Powerline"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    softTabs: true
    tabLength: 4
  "exception-reporting":
    userId: "b5e9ed16-683d-9615-f4cd-77c5567599d2"
  linter:
    lintOnFly: false
  "linter-flake8":
    executableDir: "/usr/local/bin"
    maxLineLength: 80
  metrics:
    userId: "95a75129e47eb92c43bf3fb61f5bc320ceb00be2"
  "release-notes":
    viewedVersion: "0.81.0"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace: {}
".ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
".source.yaml":
  editor:
    preferredLineLength: 120
    tabLength: 2
