packages: [
  "dash"
  "ex-mode"
  "file-types"
  "git-blame"
  "linter"
  "linter-eslint"
  "linter-stylelint"
  "linter-flake8"
  "monokai"
  "package-sync"
  "pretty-json"
  "project-manager"
  "react"
  "revert-buffer"
  "script"
  "sort-lines"
  "vim-mode"
  "vim-surround"
]
